.navbar {
    padding: 30px 50px;
}
.navbar-brand {
    font-size: 20px;
    line-height: inherit;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-link {
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
}